<a href="https://colab.research.google.com/github/selenumo/GraduationProject/blob/main/data_preprocessing_401.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ele401/data/data_henry.csv')

In [ ]:
df

,CONS_NO,FLAG,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,0387DD8A07E07FDA6271170F86AD9151,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,01D6177B5D4FFE0CABA9EF17DAFC2B84,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,4B75AC4F2D8434CFF62DB64D0BB43103,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B32AC8CC6D5D805AC053557AB05F5343,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,EDFC78B07BA2908B3395C4EB2304665E,1,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,9E726157C304B05D0057FCA8EF4A0DE4,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,6B748296C244E9AC3F80A61D859BE74E,0,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,038BAAC5F0A7AFA46BAAC8CB76E77C67,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,C4D81686BEF24091C802E6C38C4166C4,0,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,7036AB09F285712679AE85BC18191B64,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33841 entries, 0 to 33840
Columns: 1036 entries, CONS_NO to 2016/9/9
dtypes: float64(1034), int64(1), object(1)
memory usage: 267.5+ MB

Flag column determines the which data is from theives and which data is from normal users. Cons_no column has the consumer numbers. There are 3616 theive data and 38757 normal data. from the date 1.1.2014 to 9.9.2016. The flag values are important since they indicate the normals and theives.

In [ ]:
Y = df['FLAG']
df.drop(['CONS_NO','FLAG'],axis=1,inplace= True)

Before dealing with missing data the flag, and cons_no columns needs to be removed since it does not have usage data.

In [ ]:
df

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[27580:]

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
27580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.46,8.67,12.55,6.72,12.67,14.82,15.20,12.92,11.92,11.35
27581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.26,3.57,1.39,4.06,1.25,2.80,1.35,1.53,1.32,0.55
27582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.57,23.95,17.46,29.68,24.87,24.50,24.72,20.42,18.93
27583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.60,107.04,31.67,93.07,26.28,150.26,136.76,116.00,124.84,106.00
27584,2.22,2.56,4.21,2.65,2.97,2.98,2.60,3.36,2.93,5.71,...,2.23,3.52,2.50,3.27,2.94,2.91,2.91,2.97,2.68,2.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for index, row in df.iterrows():
    print(row, '\n')

df.isna().sum() checks how many null places in each column

In [ ]:
df.isna().sum()

2014/1/1     13181
2014/1/10    13144
2014/1/11    13145
2014/1/12    13144
2014/1/13    13143
             ...
2016/9/5       419
2016/9/6       440
2016/9/7       350
2016/9/8       286
2016/9/9       298
Length: 1034, dtype: int64

In [ ]:
next(df.iterrows())[1]

2014/1/1       NaN
2014/1/10      NaN
2014/1/11      NaN
2014/1/12      NaN
2014/1/13      NaN
             ...
2016/9/5     18.05
2016/9/6     26.47
2016/9/7     18.75
2016/9/8     17.84
2016/9/9     14.92
Name: 0, Length: 1034, dtype: float64

In [ ]:
df

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import csv

In [ ]:
df

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.88,184.34,172.69,205.44,207.64,233.38,194.74,183.91,182.19,256.04
33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.83,4.83,6.50,NaN,7.33,5.83,7.00,5.48,5.16,8.16
33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.97,5.70,6.41,6.88,9.70,8.25,8.91,8.30,7.41,7.80
33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.24,0.45,0.16,0.16,0.17,0.19,0.29,0.23,0.20,0.26
33840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(row)

1034

To manipulate the empty data following rules will imply:
If first and last data of the row is empty then fill with '0'.
If interim datas are empty then
  If the previous and next data is not empty current data is filled with the average of previous and next data. Otherwise current data is filled with '0.'
To manipulate the erroneous data following rules will imply:
The threshold to determine the data is erroneous or not is avg of row plus two times standart deviation of row.
If current data is bigger than the threshold then the current data is filled with avg(row)+2*st.
The output will be saved in the output_dir with the data with above rules applied. As the new row processed then it will be appended in the file.

In [ ]:
for index, row in df[0:27580].iterrows():
  for i in range(len(row)):
    l = len(row)-1
    if (row.isnull()[0]):
      row[0] = 0
    if (row.isnull()[l]):
      row[l] = 0
    if (i>0 and i<l and row.isnull()[i]):
      if (row.isnull()[i-1]== False and row.isnull()[i+1]== False):
        row[i] = (row[i-1]+row[i+1])/2
      else:
        row[i] = 0
  avg = np.average(row)
  st = np.std(row)
  for i in range(len(row)):
    thr = avg+2*st
    if(row[i]>thr):
      row[i] = thr
  output_dir = '/content/drive/MyDrive/ele401/data_401/'+'output_major.txt'
  with open(output_dir, "a") as f:
    f.write(" ".join([("%.3f" %a ) for a in row]) + '\n')

In [ ]:
for index, row in df[27580:].iterrows():
  for i in range(len(row)):
    l = len(row)-1
    if (row.isnull()[0]):
      row[0] = 0
    if (row.isnull()[l]):
      row[l] = 0
    if (i>0 and i<l and row.isnull()[i]):
      if (row.isnull()[i-1]== False and row.isnull()[i+1]== False):
        row[i] = (row[i-1]+row[i+1])/2
      else:
        row[i] = 0
  avg = np.average(row)
  st = np.std(row)
  for i in range(len(row)):
    thr = avg+2*st
    if(row[i]>thr):
      row[i] = thr
  output_dir = '/content/drive/MyDrive/ele401/data_401/'+'output1_major.txt'
  with open(output_dir, "a") as f:
    f.write(" ".join([("%.3f" %a ) for a in row]) + '\n')

In [ ]:
y = pd.DataFrame(Y)
y

       FLAG
0         1
1         1
2         1
3         1
4         1
...     ...
33836     0
33837     0
33838     0
33839     0
33840     0

[33841 rows x 1 columns]

In [ ]:
y.to_csv('/content/drive/MyDrive/ele401/data_401/y_major.csv')

In [ ]:
print(y.shape)

(33841, 1)

In [ ]:
output_dir = '/content/drive/MyDrive/ele401/data_401/'+'output_major.txt'

In [ ]:
data = pd.read_csv(output_dir, sep=" ", header=None)
data

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000,...,10.120,9.96,16.92,7.60,25.039,18.05,25.039,18.750,17.840,14.920
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000,...,0.000,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000,...,0.000,0.00,0.00,0.00,0.000,0.00,0.000,0.000,0.000,0.000
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000,...,6.500,9.99,11.78,18.59,25.280,18.57,14.590,12.820,19.370,15.920
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.530,3.410,0.850,...,16.819,10.37,15.32,13.51,12.230,14.68,16.350,16.819,16.819,16.819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27575,0.49,6.54,9.52,8.02,8.34,6.26,7.29,6.520,6.180,7.360,...,6.950,5.98,3.14,3.16,3.510,5.31,7.670,11.039,6.260,3.500
27576,0.00,15.57,14.87,12.91,13.94,11.57,10.54,12.790,14.520,14.940,...,15.170,14.82,10.84,16.80,9.760,13.34,13.940,12.440,12.350,12.880
27577,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000,...,4.500,4.90,5.07,4.43,4.710,4.75,4.410,4.330,4.480,3.720
27578,10.50,8.00,4.27,6.34,11.47,10.07,9.42,11.868,11.868,11.868,...,6.850,6.32,6.78,5.14,7.060,5.94,5.420,5.540,3.180,6.680
27579,0.00,9.51,12.32,12.74,9.83,0.00,10.44,15.942,15.150,15.230,...,10.700,9.14,15.68,10.30,11.560,13.49,12.120,11.010,13.650,10.870

In [ ]:
output_dir = '/content/drive/MyDrive/ele401/data_401/'+'output1_major.txt'
data1 = pd.read_csv(output_dir, sep=" ", header=None)

In [ ]:
data1 = data1[0:6261]
data1

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.000,...,4.460,8.670,12.55,6.720,12.670,14.820,15.200,12.92,11.92,11.350
1,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.000,...,1.260,3.570,1.39,4.060,1.250,2.800,1.350,1.53,1.32,0.550
2,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.000,...,9.285,18.570,23.95,17.460,28.497,24.870,24.500,24.72,20.42,18.930
3,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.000,...,95.600,107.040,31.67,93.070,26.280,125.856,125.856,116.00,124.84,106.000
4,2.22,2.56,4.062,2.65,2.97,2.98,2.60,3.36,2.93,4.062,...,2.230,3.520,2.50,3.270,2.940,2.910,2.910,2.97,2.68,2.680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6256,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.000,...,223.880,184.340,172.69,205.440,207.640,233.380,194.740,183.91,182.19,246.034
6257,1.84,1.82,2.260,1.80,1.24,1.69,1.95,1.20,1.29,1.360,...,0.830,4.830,6.50,6.915,7.330,5.830,7.000,5.48,5.16,8.160
6258,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.000,...,5.970,5.700,6.41,6.880,9.700,8.250,8.910,8.30,7.41,7.800
6259,0.08,0.25,0.080,0.10,0.00,0.00,0.00,0.00,0.05,0.140,...,0.240,0.366,0.16,0.160,0.170,0.190,0.290,0.23,0.20,0.260
6260,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,0.00,0.000,...,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0.00,0.00,0.000

In [ ]:
data_final = pd.concat([data,data1])
data_final

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,10.120,9.960,16.92,7.600,25.039,18.05,25.039,18.750,17.840,14.920
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,6.500,9.990,11.78,18.590,25.280,18.57,14.590,12.820,19.370,15.920
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,16.819,10.370,15.32,13.510,12.230,14.68,16.350,16.819,16.819,16.819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6256,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,223.880,184.340,172.69,205.440,207.640,233.38,194.740,183.910,182.190,246.034
6257,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,0.830,4.830,6.50,6.915,7.330,5.83,7.000,5.480,5.160,8.160
6258,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.970,5.700,6.41,6.880,9.700,8.25,8.910,8.300,7.410,7.800
6259,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.240,0.366,0.16,0.160,0.170,0.19,0.290,0.230,0.200,0.260
6260,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000

In [ ]:
y = np.array(y)

In [ ]:
y.shape

(33841, 1)

In [ ]:
data_final['OutPut'] = y

In [ ]:
data_final

,0,1,2,3,4,5,6,7,8,9,...,1025,1026,1027,1028,1029,1030,1031,1032,1033,OutPut
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.960,16.92,7.600,25.039,18.05,25.039,18.750,17.840,14.920,1
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,1
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,1
3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.990,11.78,18.590,25.280,18.57,14.590,12.820,19.370,15.920,1
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,10.370,15.32,13.510,12.230,14.68,16.350,16.819,16.819,16.819,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6256,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,184.340,172.69,205.440,207.640,233.38,194.740,183.910,182.190,246.034,0
6257,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,1.36,...,4.830,6.50,6.915,7.330,5.83,7.000,5.480,5.160,8.160,0
6258,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.700,6.41,6.880,9.700,8.25,8.910,8.300,7.410,7.800,0
6259,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,0.14,...,0.366,0.16,0.160,0.170,0.19,0.290,0.230,0.200,0.260,0
6260,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0

In [ ]:
dt = data_final

In [ ]:
idx = []
for i in range(len(dt)):
  idx.append(i)

In [ ]:
idx

In [ ]:
import numpy as np

In [ ]:
dt.set_index(np.array(idx),inplace=True)

In [ ]:
dt.to_csv('/content/drive/MyDrive/ele401/data_401/data_final_major.csv')

In [ ]:
load_data = pd.read_csv('/content/drive/MyDrive/ele401/data_401/data_final_major.csv')

In [ ]:
load_data

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1025,1026,1027,1028,1029,1030,1031,1032,1033,OutPut
0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.960,16.92,7.600,25.039,18.05,25.039,18.750,17.840,14.920,1
1,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,1
2,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,1
3,3,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,9.990,11.78,18.590,25.280,18.57,14.590,12.820,19.370,15.920,1
4,4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,...,10.370,15.32,13.510,12.230,14.68,16.350,16.819,16.819,16.819,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,33836,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,184.340,172.69,205.440,207.640,233.38,194.740,183.910,182.190,246.034,0
33837,33837,1.84,1.82,2.26,1.80,1.24,1.69,1.95,1.20,1.29,...,4.830,6.50,6.915,7.330,5.83,7.000,5.480,5.160,8.160,0
33838,33838,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,5.700,6.41,6.880,9.700,8.25,8.910,8.300,7.410,7.800,0
33839,33839,0.08,0.25,0.08,0.10,0.00,0.00,0.00,0.00,0.05,...,0.366,0.16,0.160,0.170,0.19,0.290,0.230,0.200,0.260,0
33840,33840,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,0

Normalize Data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ele401/data_401/data_final_major.csv')
df.drop(['Unnamed: 0'],axis =1,inplace=True)
Y = df['OutPut']
df.drop(['OutPut'],axis=1,inplace=True)

In [ ]:
mt = np.array(df)
mt.shape

(33841, 1034)

In [ ]:
for i in range(len(mt)):
  mx = mt[i].max()
  mn = mt[i].min()
  if( (mx-mn)==0):
    continue
  for j in range(len(mt[i])):
    mt[i][j] = (mt[i][j]-mn)/(mx-mn)

In [ ]:
data = pd.DataFrame(mt)
data

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.404169,0.397779,0.675746,0.303526,1.000000,0.720875,1.000000,0.748832,0.712489,0.595870
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.257120,0.395174,0.465981,0.735364,1.000000,0.734573,0.577136,0.507120,0.766218,0.629747
4,0.172424,0.203341,0.226530,0.272311,0.211665,0.252690,0.229502,0.209882,0.202747,0.050538,...,1.000000,0.616565,0.910875,0.803258,0.727154,0.872822,0.972115,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.909956,0.749246,0.701895,0.835007,0.843948,0.948568,0.791517,0.747498,0.740507,1.000000
33837,0.106101,0.104948,0.130319,0.103794,0.071503,0.097451,0.112444,0.069196,0.074386,0.078422,...,0.047861,0.278515,0.374813,0.398743,0.422673,0.336178,0.403644,0.315996,0.297544,0.470534
33838,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.464519,0.443511,0.498755,0.535325,0.754746,0.641923,0.693277,0.645814,0.576564,0.606909
33839,0.218579,0.683060,0.218579,0.273224,0.000000,0.000000,0.000000,0.000000,0.136612,0.382514,...,0.655738,1.000000,0.437158,0.437158,0.464481,0.519126,0.792350,0.628415,0.546448,0.710383
33840,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
data['OutPut'] = Y

In [ ]:
data.to_csv('/content/drive/MyDrive/ele401/data_401/Normalised_data_final_major.csv')

In [ ]:
df_norm = pd.read_csv('/content/drive/MyDrive/ele401/data_401/Normalised_data_final_major.csv')

In [ ]:
df_norm.drop(['Unnamed: 0'],axis =1,inplace=True)
df_norm

,0,1,2,3,4,5,6,7,8,9,...,1025,1026,1027,1028,1029,1030,1031,1032,1033,OutPut
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.397779,0.675746,0.303526,1.000000,0.720875,1.000000,0.748832,0.712489,0.595870,1
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.395174,0.465981,0.735364,1.000000,0.734573,0.577136,0.507120,0.766218,0.629747,1
4,0.172424,0.203341,0.226530,0.272311,0.211665,0.252690,0.229502,0.209882,0.202747,0.050538,...,0.616565,0.910875,0.803258,0.727154,0.872822,0.972115,1.000000,1.000000,1.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33836,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.749246,0.701895,0.835007,0.843948,0.948568,0.791517,0.747498,0.740507,1.000000,0
33837,0.106101,0.104948,0.130319,0.103794,0.071503,0.097451,0.112444,0.069196,0.074386,0.078422,...,0.278515,0.374813,0.398743,0.422673,0.336178,0.403644,0.315996,0.297544,0.470534,0
33838,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.443511,0.498755,0.535325,0.754746,0.641923,0.693277,0.645814,0.576564,0.606909,0
33839,0.218579,0.683060,0.218579,0.273224,0.000000,0.000000,0.000000,0.000000,0.136612,0.382514,...,1.000000,0.437158,0.437158,0.464481,0.519126,0.792350,0.628415,0.546448,0.710383,0
33840,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0