<a href="https://colab.research.google.com/github/selenumo/GraduationProject/blob/main/data_preprocessing_401.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ele401/data/data.csv')

In [ ]:
df

,CONS_NO,FLAG,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,0387DD8A07E07FDA6271170F86AD9151,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,01D6177B5D4FFE0CABA9EF17DAFC2B84,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,4B75AC4F2D8434CFF62DB64D0BB43103,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B32AC8CC6D5D805AC053557AB05F5343,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,EDFC78B07BA2908B3395C4EB2304665E,1,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42367,F1472871E1AFF49D4289564B6377D76C,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.25,3.56,3.38,4.39,3.72,3.77,3.96,3.64,3.40,4.38
42368,F3C8BBCD2DC26C1E0249DEEF6A4256B7,0,2.70,4.39,3.95,0.00,0.00,0.00,0.00,0.00,...,4.81,4.87,4.48,3.67,3.31,4.58,3.33,3.19,4.57,4.00
42369,A9A0FE83467A680FBFB0DBFC910DF227,0,0.58,0.84,1.61,0.90,0.60,0.82,0.89,0.03,...,NaN,0.66,2.92,2.36,3.86,4.28,3.37,6.67,2.44,1.15
42370,D9A6ADA018FA46A55D5438370456AA45,0,16.89,13.84,13.50,14.60,14.46,12.34,15.37,17.01,...,21.13,13.75,22.61,18.83,25.52,18.11,19.31,17.48,17.20,15.28
42371,F3406636BAD1E6E0826E8EDDC9A1BF00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.80,4.45,9.80,5.11,16.69,12.04,9.90,8.23,8.56,9.86

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42372 entries, 0 to 42371
Columns: 1034 entries, 2014/1/1 to 2016/9/9
dtypes: float64(1034)
memory usage: 334.3 MB

Flag column determines the which data is from theives and which data is from normal users. Cons_no column has the consumer numbers. There are 3616 theive data and 38757 normal data. from the date 1.1.2014 to 9.9.2016. The flag values are important since they indicate the normals and theives.

In [ ]:
Y = df['FLAG']
df.drop(['CONS_NO','FLAG'],axis=1,inplace= True)

Before dealing with missing data the flag, and cons_no columns needs to be removed since it does not have usage data.

In [ ]:
df

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.25,3.56,3.38,4.39,3.72,3.77,3.96,3.64,3.40,4.38
42368,2.70,4.39,3.95,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,4.81,4.87,4.48,3.67,3.31,4.58,3.33,3.19,4.57,4.00
42369,0.58,0.84,1.61,0.90,0.60,0.82,0.89,0.03,0.73,1.68,...,NaN,0.66,2.92,2.36,3.86,4.28,3.37,6.67,2.44,1.15
42370,16.89,13.84,13.50,14.60,14.46,12.34,15.37,17.01,13.46,19.56,...,21.13,13.75,22.61,18.83,25.52,18.11,19.31,17.48,17.20,15.28
42371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.80,4.45,9.80,5.11,16.69,12.04,9.90,8.23,8.56,9.86

In [ ]:
for index, row in df.iterrows():
    print(row, '\n')

df.isna().sum() checks how many null places in each column

In [ ]:
df.isna().sum()

2014/1/1     16502
2014/1/10    16460
2014/1/11    16461
2014/1/12    16460
2014/1/13    16460
             ...
2016/9/5       499
2016/9/6       522
2016/9/7       405
2016/9/8       328
2016/9/9       345
Length: 1034, dtype: int64

In [ ]:
df

,2014/1/1,2014/1/10,2014/1/11,2014/1/12,2014/1/13,2014/1/14,2014/1/15,2014/1/16,2014/1/17,2014/1/18,...,2016/9/28,2016/9/29,2016/9/3,2016/9/30,2016/9/4,2016/9/5,2016/9/6,2016/9/7,2016/9/8,2016/9/9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.12,9.96,16.92,7.60,27.22,18.05,26.47,18.75,17.84,14.92
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.50,9.99,11.78,18.59,26.80,18.57,14.59,12.82,19.37,15.92
4,2.90,3.42,3.81,4.58,3.56,4.25,3.86,3.53,3.41,0.85,...,17.77,10.37,15.32,13.51,12.23,14.68,16.35,18.14,18.41,17.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.25,3.56,3.38,4.39,3.72,3.77,3.96,3.64,3.40,4.38
42368,2.70,4.39,3.95,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,4.81,4.87,4.48,3.67,3.31,4.58,3.33,3.19,4.57,4.00
42369,0.58,0.84,1.61,0.90,0.60,0.82,0.89,0.03,0.73,1.68,...,NaN,0.66,2.92,2.36,3.86,4.28,3.37,6.67,2.44,1.15
42370,16.89,13.84,13.50,14.60,14.46,12.34,15.37,17.01,13.46,19.56,...,21.13,13.75,22.61,18.83,25.52,18.11,19.31,17.48,17.20,15.28
42371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.80,4.45,9.80,5.11,16.69,12.04,9.90,8.23,8.56,9.86

In [ ]:
len(row)

1034

To manipulate the empty data following rules will imply:
If first and last data of the row is empty then fill with '0'.
If interim datas are empty then 
  If the previous and next data is not empty current data is filled with the average of previous and next data. Otherwise current data is filled with '0.'
To manipulate the erroneous data following rules will imply:
The threshold to determine the data is erroneous or not is avg of row plus two times standart deviation of row. 
If current data is bigger than the threshold then the current data is filled with avg(row)+2*st. 
The output will be saved in the output_dir with the data with above rules applied. As the new row processed then it will be appended in the file.

In [ ]:
for index, row in df[0:27580].iterrows():
  for i in range(len(row)):
    l = len(row)-1
    if (row.isnull()[0]):  
      row[0] = 0
    if (row.isnull()[l]):
      row[l] = 0
    if (i>0 and i<l and row.isnull()[i]):
      if (row.isnull()[i-1]== False and row.isnull()[i+1]== False):
        row[i] = (row[i-1]+row[i+1])/2
      else:
        row[i] = 0
  avg = np.average(row)
  st = np.std(row)
  for i in range(len(row)):
    thr = avg+2*st
    if(row[i]>thr):
      row[i] = thr
  output_dir = '/content/drive/MyDrive/ele401/data_401/'+'output.txt'
  with open(output_dir, "a") as f:
    f.write(" ".join([("%.3f" %a ) for a in row]) + '\n')

In [ ]:
for index, row in df[27580:].iterrows():
  for i in range(len(row)):
    l = len(row)-1
    if (row.isnull()[0]):
      row[0] = 0
    if (row.isnull()[l]):
      row[l] = 0
    if (i>0 and i<l and row.isnull()[i]):
      if (row.isnull()[i-1]== False and row.isnull()[i+1]== False):
        row[i] = (row[i-1]+row[i+1])/2
      else:
        row[i] = 0
  avg = np.average(row)
  st = np.std(row)
  for i in range(len(row)):
    thr = avg+2*st
    if(row[i]>thr):
      row[i] = thr
  output_dir = '/content/drive/MyDrive/ele401/data_401/'+'output1.txt'
  with open(output_dir, "a") as f:
    f.write(" ".join([("%.3f" %a ) for a in row]) + '\n')

In [ ]:
y = pd.DataFrame(Y)
y

       FLAG
0         1
1         1
2         1
3         1
4         1
...     ...
42367     0
42368     0
42369     0
42370     0
42371     0

[42372 rows x 1 columns]

In [ ]:
y.to_csv('/content/drive/MyDrive/ele401/data_401/y.csv')

In [ ]:
output_dir = '/content/drive/MyDrive/ele401/data_401/'+'output.txt'

In [ ]:
data = pd.read_csv(output_dir, sep=" ", header=None)
data

In [ ]:
data= data[0:27580]
data

In [ ]:
data1 = pd.read_csv(output_dir, sep=" ", header=None)

In [ ]:
data1 = data1[0:14793]
data1

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,10.120,9.960,16.92,7.600,25.039,18.05,25.039,18.750,17.840,14.920
1,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,0.000,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000
2,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,0.000,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000
3,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,6.500,9.990,11.78,18.590,25.280,18.57,14.590,12.820,19.370,15.920
4,2.90,3.42,3.81,4.580,3.560,4.250,3.86,3.530,3.410,0.850,...,16.819,10.370,15.32,13.510,12.230,14.68,16.350,16.819,16.819,16.819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14788,11.56,7.15,9.18,7.510,7.310,8.110,7.29,9.500,5.580,6.280,...,15.022,15.022,7.78,15.022,7.930,6.54,7.270,12.920,10.030,7.760
14789,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,1.890,2.030,2.09,2.060,1.940,2.08,1.960,2.090,1.930,2.080
14790,15.35,15.76,12.32,4.540,14.700,20.230,18.31,22.426,22.426,21.640,...,10.710,10.390,9.58,8.770,14.330,19.82,18.650,17.460,10.150,16.730
14791,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,15.530,16.907,8.61,15.510,11.560,10.82,14.180,7.920,8.930,8.170
14792,5.20,4.78,5.08,6.133,6.133,6.133,6.04,6.133,6.133,6.133,...,0.490,3.330,2.48,2.770,3.060,2.77,2.530,1.900,2.360,2.510

In [ ]:
data_final = pd.concat([data,data1]) 
data_final

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,10.120,9.960,16.92,7.600,25.039,18.05,25.039,18.750,17.840,14.920
1,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,0.000,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000
2,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,0.000,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000
3,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,6.500,9.990,11.78,18.590,25.280,18.57,14.590,12.820,19.370,15.920
4,2.90,3.42,3.81,4.580,3.560,4.250,3.86,3.530,3.410,0.850,...,16.819,10.370,15.32,13.510,12.230,14.68,16.350,16.819,16.819,16.819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14788,11.56,7.15,9.18,7.510,7.310,8.110,7.29,9.500,5.580,6.280,...,15.022,15.022,7.78,15.022,7.930,6.54,7.270,12.920,10.030,7.760
14789,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,1.890,2.030,2.09,2.060,1.940,2.08,1.960,2.090,1.930,2.080
14790,15.35,15.76,12.32,4.540,14.700,20.230,18.31,22.426,22.426,21.640,...,10.710,10.390,9.58,8.770,14.330,19.82,18.650,17.460,10.150,16.730
14791,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,15.530,16.907,8.61,15.510,11.560,10.82,14.180,7.920,8.930,8.170
14792,5.20,4.78,5.08,6.133,6.133,6.133,6.04,6.133,6.133,6.133,...,0.490,3.330,2.48,2.770,3.060,2.77,2.530,1.900,2.360,2.510

In [ ]:
y = np.array(y)

In [ ]:
data_final['OutPut'] = y

In [ ]:
data_final

,0,1,2,3,4,5,6,7,8,9,...,1025,1026,1027,1028,1029,1030,1031,1032,1033,OutPut
0,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,9.960,16.92,7.600,25.039,18.05,25.039,18.750,17.840,14.920,1
1,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,1
2,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,1
3,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,9.990,11.78,18.590,25.280,18.57,14.590,12.820,19.370,15.920,1
4,2.90,3.42,3.81,4.580,3.560,4.250,3.86,3.530,3.410,0.850,...,10.370,15.32,13.510,12.230,14.68,16.350,16.819,16.819,16.819,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14788,11.56,7.15,9.18,7.510,7.310,8.110,7.29,9.500,5.580,6.280,...,15.022,7.78,15.022,7.930,6.54,7.270,12.920,10.030,7.760,0
14789,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,2.030,2.09,2.060,1.940,2.08,1.960,2.090,1.930,2.080,0
14790,15.35,15.76,12.32,4.540,14.700,20.230,18.31,22.426,22.426,21.640,...,10.390,9.58,8.770,14.330,19.82,18.650,17.460,10.150,16.730,0
14791,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,0.000,...,16.907,8.61,15.510,11.560,10.82,14.180,7.920,8.930,8.170,0
14792,5.20,4.78,5.08,6.133,6.133,6.133,6.04,6.133,6.133,6.133,...,3.330,2.48,2.770,3.060,2.77,2.530,1.900,2.360,2.510,0

In [ ]:
dt = data_final

In [ ]:
idx = []
for i in range(len(dt)):
  idx.append(i)

In [ ]:
idx

In [ ]:
import numpy as np

In [ ]:
dt.set_index(np.array(idx),inplace=True)

In [ ]:
dt.to_csv('/content/drive/MyDrive/ele401/data_401/data_final.csv')

In [ ]:
load_data = pd.read_csv('/content/drive/MyDrive/ele401/data_401/data_final.csv')

In [ ]:
load_data

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1025,1026,1027,1028,1029,1030,1031,1032,1033,OutPut
0,0,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,...,9.960,16.92,7.600,25.039,18.05,25.039,18.750,17.840,14.920,1
1,1,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,1
2,2,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,...,0.000,0.00,0.000,0.000,0.00,0.000,0.000,0.000,0.000,1
3,3,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,...,9.990,11.78,18.590,25.280,18.57,14.590,12.820,19.370,15.920,1
4,4,2.90,3.42,3.81,4.580,3.560,4.250,3.86,3.530,3.410,...,10.370,15.32,13.510,12.230,14.68,16.350,16.819,16.819,16.819,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42367,42367,11.56,7.15,9.18,7.510,7.310,8.110,7.29,9.500,5.580,...,15.022,7.78,15.022,7.930,6.54,7.270,12.920,10.030,7.760,0
42368,42368,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,...,2.030,2.09,2.060,1.940,2.08,1.960,2.090,1.930,2.080,0
42369,42369,15.35,15.76,12.32,4.540,14.700,20.230,18.31,22.426,22.426,...,10.390,9.58,8.770,14.330,19.82,18.650,17.460,10.150,16.730,0
42370,42370,0.00,0.00,0.00,0.000,0.000,0.000,0.00,0.000,0.000,...,16.907,8.61,15.510,11.560,10.82,14.180,7.920,8.930,8.170,0
42371,42371,5.20,4.78,5.08,6.133,6.133,6.133,6.04,6.133,6.133,...,3.330,2.48,2.770,3.060,2.77,2.530,1.900,2.360,2.510,0

Normalize Data

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ele401/data_401/data_final.csv')
df.drop(['Unnamed: 0'],axis =1,inplace=True)
Y = df['OutPut']
df.drop(['OutPut'],axis=1,inplace=True)

In [ ]:
mt = np.array(df)
mt.shape

(42372, 1034)

In [ ]:
for i in range(len(mt)):
  mx = mt[i].max()
  mn = mt[i].min()
  if( (mx-mn)==0):
    continue
  for j in range(len(mt[i])):
    mt[i][j] = (mt[i][j]-mn)/(mx-mn)

In [ ]:
data = pd.DataFrame(mt)
data

,0,1,2,3,4,5,6,7,8,9,...,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.404169,0.397779,0.675746,0.303526,1.000000,0.720875,1.000000,0.748832,0.712489,0.595870
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.257120,0.395174,0.465981,0.735364,1.000000,0.734573,0.577136,0.507120,0.766218,0.629747
4,0.172424,0.203341,0.226530,0.272311,0.211665,0.252690,0.229502,0.209882,0.202747,0.050538,...,1.000000,0.616565,0.910875,0.803258,0.727154,0.872822,0.972115,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42367,0.769538,0.475969,0.611104,0.499933,0.486620,0.539875,0.485288,0.632406,0.371455,0.418054,...,1.000000,1.000000,0.517907,1.000000,0.527892,0.435361,0.483957,0.860072,0.667687,0.516576
42368,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.158371,0.170102,0.175130,0.172616,0.162561,0.174292,0.164237,0.175130,0.161723,0.174292
42369,0.684473,0.702756,0.549362,0.202444,0.655489,0.902078,0.816463,1.000000,1.000000,0.964951,...,0.477571,0.463302,0.427183,0.391064,0.638990,0.883796,0.831624,0.778561,0.452600,0.746009
42370,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.918554,1.000000,0.509257,0.917372,0.683740,0.639972,0.838706,0.468445,0.528184,0.483232
42371,0.847872,0.779390,0.828306,1.000000,1.000000,1.000000,0.984836,1.000000,1.000000,1.000000,...,0.079896,0.542964,0.404370,0.451655,0.498940,0.451655,0.412522,0.309799,0.384804,0.409261

In [ ]:
data['OutPut'] = Y

In [ ]:
data.to_csv('/content/drive/MyDrive/ele401/data_401/Normalised_data_final.csv')

In [ ]:
df_norm = pd.read_csv('/content/drive/MyDrive/ele401/data_401/Normalised_data_final.csv')

In [ ]:
df_norm.drop(['Unnamed: 0'],axis =1,inplace=True)
df_norm

,0,1,2,3,4,5,6,7,8,9,...,1025,1026,1027,1028,1029,1030,1031,1032,1033,OutPut
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.397779,0.675746,0.303526,1.000000,0.720875,1.000000,0.748832,0.712489,0.595870,1
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.395174,0.465981,0.735364,1.000000,0.734573,0.577136,0.507120,0.766218,0.629747,1
4,0.172424,0.203341,0.226530,0.272311,0.211665,0.252690,0.229502,0.209882,0.202747,0.050538,...,0.616565,0.910875,0.803258,0.727154,0.872822,0.972115,1.000000,1.000000,1.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42367,0.769538,0.475969,0.611104,0.499933,0.486620,0.539875,0.485288,0.632406,0.371455,0.418054,...,1.000000,0.517907,1.000000,0.527892,0.435361,0.483957,0.860072,0.667687,0.516576,0
42368,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.170102,0.175130,0.172616,0.162561,0.174292,0.164237,0.175130,0.161723,0.174292,0
42369,0.684473,0.702756,0.549362,0.202444,0.655489,0.902078,0.816463,1.000000,1.000000,0.964951,...,0.463302,0.427183,0.391064,0.638990,0.883796,0.831624,0.778561,0.452600,0.746009,0
42370,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.509257,0.917372,0.683740,0.639972,0.838706,0.468445,0.528184,0.483232,0
42371,0.847872,0.779390,0.828306,1.000000,1.000000,1.000000,0.984836,1.000000,1.000000,1.000000,...,0.542964,0.404370,0.451655,0.498940,0.451655,0.412522,0.309799,0.384804,0.409261,0